<aside class="menu-sidebar d-none d-lg-block">
	<div class="logo">
		<a href="/admin/dashboard">
			<!-- <img src="images/icon/logo.png" alt="Cool Admin" /> -->
			<h3><span style="color: red">Rk</span>-Admin</h3>
		</a>
	</div>
	<div class="menu-sidebar__content js-scrollbar1">
		<nav class="navbar-sidebar">
			<ul class="list-unstyled navbar__list">
				<li class="active has-sub">
					<a class="js-arrow" href="/admin/dashboard">
						<i class="fas fa-tachometer-alt"></i>Dashboard</a>
				</li>
				<li class="has-sub">
					<a class="js-arrow" href="#">
						<i class="fas fa-users"></i>Users Management</a>
					<ul class="list-unstyled navbar__sub-list js-sub-list">
						<li>
							<a href="#" data-toggle="modal" data-target="#addUserModal"><i class="fas fa-plus"></i>Add User</a>
						</li>
						<li>
							<a href="/admin/users"><i class="fas fa-list"></i>Users List</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="/setting"><i class="fa fa-gear"></i>Setting</a>
				</li>
				<li>
					<!-- <a href="/logout"><i class="fa fa-sign-out"></i>Logout</a> -->
					<a href="/logout"><i class="fa fa-power-off"></i>Logout</a>
				</li>
			</ul>
		</nav>
	</div>
</aside>