<div class="row">
	<div class="col-md-12">
		<div class="copyright">
			<p>Copyright © <%= moment().year() %> <span style="color: red;">Rk Admin</span>. All rights reserved.
					Developed by <a href="https://www.instagram.com/rohitmahor27/">Rohit Kumar</a>.</p>
		</div>
	</div>
</div>