<!DOCTYPE html>
<html lang="en">

<head>
	<!-- Required meta tags-->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="Rk Blogs">
	<meta name="author" content="Rohit Kumar">
	<meta name="keywords" content="Rk Blogs">

	<!-- Title Page-->
	<title>
		<%= title %>
	</title>

	<!-- Fontfaces CSS-->
	<link href="../cool_admin/css/font-face.css" rel="stylesheet" media="all">
	<link href="../cool_admin/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
	<link href="../cool_admin/vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
	<link href="../cool_admin/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">

	<!-- Bootstrap CSS-->
	<link href="../cool_admin/vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">

	<!-- Vendor CSS-->
	<link href="../cool_admin/vendor/animsition/animsition.min.css" rel="stylesheet" media="all">
	<link href="../cool_admin/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet"
		media="all">
	<link href="../cool_admin/vendor/wow/animate.css" rel="stylesheet" media="all">
	<link href="../cool_admin/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all">
	<link href="../cool_admin/vendor/slick/slick.css" rel="stylesheet" media="all">
	<link href="../cool_admin/vendor/select2/select2.min.css" rel="stylesheet" media="all">
	<link href="../cool_admin/vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" media="all">

	<!-- Main CSS-->
	<link href="../cool_admin/css/theme.css" rel="stylesheet" media="all">

	<style>
		.color-options option {
			display: block;
			width: 28px;
			height: 28px;
			border: 2px solid transparent;
			margin-top: 5px;
			color: #ffff;
		}
	
		.color-options option.theme-1 {
			background: #5FCB71;
		}
	
		.color-options option.theme-2 {
			background-color: #5BC3D5
		}
	
		.color-options option.theme-3 {
			background-color: #3B7EEB
		}
	
		.color-options option.theme-4 {
			background-color: #5ECCA9
		}
	
		.color-options option.theme-5 {
			background-color: #EEA73B
		}
	
		.color-options option.theme-6 {
			background-color: #5469C9
		}
	
		.color-options option.theme-7 {
			background-color: #5D6BA7
		}
	
		.color-options option.theme-8 {
			background-color: #6C51A4
		}

		/* Add some basic styling for the image */
		#preview-image {
			max-width: 100%;
			max-height: 200px;
			margin-top: 10px;
			display: none;
		}
	</style>

</head>